<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail [routerLink]="['/movie']">
      <ion-thumbnail slot="start">
        <img src="http://www.impawards.com/2009/posters/avatar_xlg.jpg" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <ion-text>
          <h1>Avatar</h1>
        </ion-text>
        <ion-text>
          <h4>Rating: 74%</h4>
        </ion-text>
        <ion-note>December 10, 2009</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
